<div class="jumbotron">
    <h2 class="text-center">{{tournamentDetails?.name}}</h2>
    <hr class="my-4">
    <ngb-tabset>
        <ngb-tab title="Fixtures">
            <ng-template ngbTabContent>
                <app-fixtures [tournamentDetails]="tournamentDetails" [tournamentId]="tournamentId" [pointsTable]="pointsTable"></app-fixtures>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Points Table">
            <ng-template ngbTabContent>
                <app-points-table [tournamentId]="tournamentId" [pointsTable]="pointsTable"></app-points-table>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
