<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <router-outlet name="popup"></router-outlet>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="closePopup()">Close</button>
    </div>
</ng-template>