<div class="card text-center m-1">
    <div class="card-body p-1">
        <h5 class="card-title mt-2 text-dark">
            <div class="action-buttons">
                <app-action-buttons  *ngIf="tournament.teamId == authService.user?.id"
                    (onEdit)="editTournament()"
                    (onDelete)="deleteTournament()"
                ></app-action-buttons>
                <i class="fas fa-hands-helping" (click)="joinTournament(tournament)"></i>
            </div>
            <div class="headline btn-link" routerLink="/tournament-details/{{tournament?.id}}">
                <span class="card-link">{{tournament.name}}</span> 
                <span class="badge badge-danger" *ngIf="tournament.status == 'pending'">APPROVAL {{tournament.status | uppercase }}</span>
            </div>            
        </h5>
        <p class="card-text text-secondary d-flex justify-content-between more-details">
            <span>
                <div><i class="fas fa-users"></i> Players</div>
                {{tournament?.playerCount}}
            </span>        
            <span>
                <div><i class="fas fa-coins"></i> Fees</div>
                {{tournament?.entryFee}} to {{tournament?.reEntryFee}}
            </span>
            <span>
                <div><i class="fas fa-award"></i> Prizes</div>
                {{tournament?.secondPrize}} to {{tournament?.firstPrize}}
            </span>
        </p>
    </div>
    <div class="card-footer text-muted blockquote-footer">
        <i class="far fa-calendar-alt mr-1"></i> from {{tournament?.startDate | date:'fullDate'}} to  {{tournament?.endDate | date}}<br/>
        <i class="far fa-clock"></i> {{tournament?.time | caTime }}
    </div>
</div>
